- orders = Order.open.started
- unless orders.empty?
  %ul.nav.nav-pills.nav-stacked
    .nav-header= t '.title'
    - orders.each do |order|
      %li( class='#{ order == current_order ? "active" : ""}'
          data-toggle='tooltip'
          data-placement='bottom'
          title='#{ order.ends ? t('.remaining', remaining: time_ago_in_words(order.ends)) : "" }')
        = link_to_ordering(order, show: true, 'data-confirm_switch_order' => true)
