.missing-many td {
	background-color: #ffc590aa;
}

.missing-many:hover td, .missing-many:focus td {
	background-color: #ffc590;
}

.missing-few td {
	background-color: #fcf488aa;
}

.missing-few:hover td, .missing-few:focus td {
	background-color: #fcf488;
}

.missing-none td {
	background-color: #d0f6ffaa;
}

.missing-none:hover td, .missing-none:focus td  {
	background-color: #d0f6ff;
}
