.list .missing-many td {
	background-color: #ffc590aa;
}

.list .missing-many:hover td, .list .missing-many:focus td {
	background-color: #ffc590;
}

.list .missing-few td {
	background-color: #fcf488aa;
}

.list .missing-few:hover td, .list .missing-few:focus td {
	background-color: #fcf488;
}

.list .missing-none td {
	background-color: #e1f392aa;
}

.list .missing-none:hover td, .list .missing-none:focus td  {
	background-color: #e1f392;
}